.code-card
    margin-bottom: 8px
    background: #1d1e22
    border-radius: 6px
    width: 300px
    height: 140px
    font-size: 13px

.code-card-html
    position: relative
    left: 160px
    bottom: 20px
    @include sm
        left: 120px

.code-card-header
    padding: 4px 8px
    justify-content: space-between

.code-card-title-text
    margin: 0
    margin-left: 8px

.code-card-body
    padding: 8px
    padding-top: 0

    p
        margin: 0

.code-card-scss
    position: relative
    left: 220px
    bottom: 20px
    @include sm
        left: 160px



.l-margin-left-2rem
    margin-left: 2rem !important

.l-margin-left-4rem
    margin-left: 4rem !important

.code-card-js
    position: relative
    left: 160px
    bottom: 20px
    @include sm
        left: 120px


@keyframes blink 
    0%
        opacity: 0
    50%
        opacity: 0
    51%
        opacity: 1
    100%
        opacity: 1
    
.cursor
    animation-duration: 1s
    animation-timing-function: ease
    animation-delay: 0s
    animation-iteration-count: infinite
    animation-direction: normal
    animation-fill-mode: none
    animation-play-state: running
    animation-name: blink
        